{% extends 'base.html' %}

{% block title %} - Activate{% endblock %}

{% block content %}
    <h1>Activate Account</h1>
    <form id="user_form" method="post" action="/accounts/activate/"
            enctype="multipart/form-data" class="input-form">
        {% csrf_token %}

        {% for f in form %}
            <tr>
                <td>{{ f.label_tag }}</td>
                <td>{{ f }}</td>
                {% for error in f.errors %}
                    <td><span>{{ error }}</span></td>
                {% endfor %}
            </tr>
        {% endfor %}
        <div>
            <input class="button" type="submit" name="submit" value="Activate" />
        </div>
    </form>
{% endblock %}
